# Data Frame Work

### Load Pandas and Get DataFrame Setup Properly

### Please note I was not able to upload original csv because of its size to github. go to https://www.kaggle.com/rtatman/188-million-us-wildfires if you want to get it from a in SQL. I converted it from SQL to csv and then refined it down to a more managable size which you will see throughout the report.

In [1]:
#import pandas, all that is needed for this file
import pandas as pd

In [2]:
#load csv as df
df = pd.read_csv('sql.csv')

#### Round data to nearest 5, I want usa to be categorized like a checker board by 5 latitude by 5 longitude squares. Latitude is ~70 miles and Longitude is ~ 55 miles. Then concat new values with data.

In [3]:
df.head()

,Unnamed: 0,DISCOVERY_DOY,DISCOVERY_DATE,FIRE_YEAR,DISCOVERY_TIME,STAT_CAUSE_CODE,CONT_DATE,CONT_DOY,FIRE_SIZE_CLASS,FIRE_SIZE,LATITUDE,LONGITUDE,STATE
0,0,33,2453403.5,2005,1300.0,9.0,2453403.5,33.0,A,0.10,40.036944,-121.005833,CA
1,1,133,2453137.5,2004,845.0,1.0,2453137.5,133.0,A,0.25,38.933056,-120.404444,CA
2,2,152,2453156.5,2004,1921.0,5.0,2453156.5,152.0,A,0.10,38.984167,-120.735556,CA
3,3,180,2453184.5,2004,1600.0,1.0,2453189.5,185.0,A,0.10,38.559167,-119.913333,CA
4,4,180,2453184.5,2004,1600.0,1.0,2453189.5,185.0,A,0.10,38.559167,-119.933056,CA

In [5]:
#chose to append rather than df2['lat'][i] = i because of how much faster it is.
latty5 = []
latty2 = []
latty1 = []
longy5 = []
longy2 = []
longy1 = []

for y, i in enumerate(df['LATITUDE']):
    if y%2500==0:
        print(y)
    latty5.append(int(5*round(float(i)/5)))
    latty2.append(int(2*round(float(i)/2)))
    latty1.append(int(1*round(float(i)/1)))
    longy1.append(int(1*round(float(df['LONGITUDE'][y])/1)))
    longy2.append(int(2*round(float(df['LONGITUDE'][y])/2)))
    longy5.append(int(5*round(float(df['LONGITUDE'][y])/5)))

0
2500
5000
7500
10000
12500
15000
17500
20000
22500
25000
27500
30000
32500
35000
37500
40000
42500
45000
47500
50000
52500
55000
57500
60000
62500
65000
67500
70000
72500
75000
77500
80000
82500
85000
87500
90000
92500
95000
97500
100000
102500
105000
107500
110000
112500
115000
117500
120000
122500
125000
127500
130000
132500
135000
137500
140000
142500
145000
147500
150000
152500
155000
157500
160000
162500
165000
167500
170000
172500
175000
177500
180000
182500
185000
187500
190000
192500
195000
197500
200000
202500
205000
207500
210000
212500
215000
217500
220000
222500
225000
227500
230000
232500
235000
237500
240000
242500
245000
247500
250000
252500
255000
257500
260000
262500
265000
267500
270000
272500
275000
277500
280000
282500
285000
287500
290000
292500
295000
297500
300000
302500
305000
307500
310000
312500
315000
317500
320000
322500
325000
327500
330000
332500
335000
337500
340000
342500
345000
347500
350000
352500
355000
357500
360000
362500
365000
367500
370000
372500
375000
377500
380000
382500
385000
387500
390000
392500
395000
397500
400000
402500
405000
407500
410000
412500
415000
417500
420000
422500
425000
427500
430000
432500
435000
437500
440000
442500
445000
447500
450000
452500
455000
457500
460000
462500
465000
467500
470000
472500
475000
477500
480000
482500
485000
487500
490000
492500
495000
497500
500000
502500
505000
507500
510000
512500
515000
517500
520000
522500
525000
527500
530000
532500
535000
537500
540000
542500
545000
547500
550000
552500
555000
557500
560000
562500
565000
567500
570000
572500
575000
577500
580000
582500
585000
587500
590000
592500
595000
597500
600000
602500
605000
607500
610000
612500
615000
617500
620000
622500
625000
627500
630000
632500
635000
637500
640000
642500
645000
647500
650000
652500
655000
657500
660000
662500
665000
667500
670000
672500
675000
677500
680000
682500
685000
687500
690000
692500
695000
697500
700000
702500
705000
707500
710000
712500
715000
717500
720000
722500
725000
727500
730000
732500
735000
737500
740000
742500
745000
747500
750000
752500
755000
757500
760000
762500
765000
767500
770000
772500
775000
777500
780000
782500
785000
787500
790000
792500
795000
797500
800000
802500
805000
807500
810000
812500
815000
817500
820000
822500
825000
827500
830000
832500
835000
837500
840000
842500
845000
847500
850000
852500
855000
857500
860000
862500
865000
867500
870000
872500
875000
877500
880000
882500
885000
887500
890000
892500
895000
897500
900000
902500
905000
907500
910000
912500
915000
917500
920000
922500
925000
927500
930000
932500
935000
937500
940000
942500
945000
947500
950000
952500
955000
957500
960000
962500
965000
967500
970000
972500
975000
977500
980000
982500
985000
987500
990000
992500
995000
997500
1000000
1002500
1005000
1007500
1010000
1012500
1015000
1017500
1020000
1022500
1025000
1027500
1030000
1032500
1035000
1037500
1040000
1042500
1045000
1047500
1050000
1052500
1055000
1057500
1060000
1062500
1065000
1067500
1070000
1072500
1075000
1077500
1080000
1082500
1085000
1087500
1090000
1092500
1095000
1097500
1100000
1102500
1105000
1107500
1110000
1112500
1115000
1117500
1120000
1122500
1125000
1127500
1130000
1132500
1135000
1137500
1140000
1142500
1145000
1147500
1150000
1152500
1155000
1157500
1160000
1162500
1165000
1167500
1170000
1172500
1175000
1177500
1180000
1182500
1185000
1187500
1190000
1192500
1195000
1197500
1200000
1202500
1205000
1207500
1210000
1212500
1215000
1217500
1220000
1222500
1225000
1227500
1230000
1232500
1235000
1237500
1240000
1242500
1245000
1247500
1250000
1252500
1255000
1257500
1260000
1262500
1265000
1267500
1270000
1272500
1275000
1277500
1280000
1282500
1285000
1287500
1290000
1292500
1295000
1297500
1300000
1302500
1305000
1307500
1310000
1312500
1315000
1317500
1320000
1322500
1325000
1327500
1330000
1332500
1335000
1337500
1340000
1342500
1345000
1347500
1350000
1352500
1355000
1357500
1360000
1362500
1365000
1367500
1370000
1372500
1375000
1377500
1380000
1382500
1385000
1387500
1390000
1392500
1395000
1397500
1400000
1402500
1405000
1407500
1410000
1412500
1415000
1417500
1420000
1422500
1425000
1427500
1430000
1432500
1435000
1437500
1440000
1442500
1445000
1447500
1450000
1452500
1455000
1457500
1460000
1462500
1465000
1467500
1470000
1472500
1475000
1477500
1480000
1482500
1485000
1487500
1490000
1492500
1495000
1497500
1500000
1502500
1505000
1507500
1510000
1512500
1515000
1517500
1520000
1522500
1525000
1527500
1530000
1532500
1535000
1537500
1540000
1542500
1545000
1547500
1550000
1552500
1555000
1557500
1560000
1562500
1565000
1567500
1570000
1572500
1575000
1577500
1580000
1582500
1585000
1587500
1590000
1592500
1595000
1597500
1600000
1602500
1605000
1607500
1610000
1612500
1615000
1617500
1620000
1622500
1625000
1627500
1630000
1632500
1635000
1637500
1640000
1642500
1645000
1647500
1650000
1652500
1655000
1657500
1660000
1662500
1665000
1667500
1670000
1672500
1675000
1677500
1680000
1682500
1685000
1687500
1690000
1692500
1695000
1697500
1700000
1702500
1705000
1707500
1710000
1712500
1715000
1717500
1720000
1722500
1725000
1727500
1730000
1732500
1735000
1737500
1740000
1742500
1745000
1747500
1750000
1752500
1755000
1757500
1760000
1762500
1765000
1767500
1770000
1772500
1775000
1777500
1780000
1782500
1785000
1787500
1790000
1792500
1795000
1797500
1800000
1802500
1805000
1807500
1810000
1812500
1815000
1817500
1820000
1822500
1825000
1827500
1830000
1832500
1835000
1837500
1840000
1842500
1845000
1847500
1850000
1852500
1855000
1857500
1860000
1862500
1865000
1867500
1870000
1872500
1875000
1877500
1880000

In [6]:
#convert rounded lattitudes to dataframe
df5=pd.DataFrame(latty5).rename(columns={0: 'latt5'})
df6 = pd.DataFrame(latty2).rename(columns={0: 'latt2'})
df7= pd.DataFrame(latty1).rename(columns={0: 'latt1'})
df8=pd.DataFrame(longy1).rename(columns={0: 'longg1'})
df9=pd.DataFrame(longy2).rename(columns={0: 'longg2'})
df11=pd.DataFrame(longy5).rename(columns={0: 'longg5'})

In [7]:
#changed over to df10, wanted to keep the df and df2 just incase something needs to be changed I did not want to overwrite it
df10 = pd.concat([df5, df], axis=1)
df10=pd.concat([df6, df10], axis=1)
df10=pd.concat([df7, df10], axis=1)
df10=pd.concat([df8, df10], axis=1)
df10=pd.concat([df9, df10], axis=1)
df10=pd.concat([df11, df10], axis=1)

# Filter data so I can condense the latitudes and longitudes into rectangle and important/ relevant details
#### Reason filtering as method is that a for loop would be too slow. Instead by filtering by date, latitude and longitude I can go through if statements that are far quicker and more efficient. (20 Minutes... Not 15 hours)

In [8]:
df10.head()

,longg5,longg2,longg1,latt1,latt2,latt5,Unnamed: 0,DISCOVERY_DOY,DISCOVERY_DATE,FIRE_YEAR,DISCOVERY_TIME,STAT_CAUSE_CODE,CONT_DATE,CONT_DOY,FIRE_SIZE_CLASS,FIRE_SIZE,LATITUDE,LONGITUDE,STATE
0,-120,-122,-121,40,40,40,0,33,2453403.5,2005,1300.0,9.0,2453403.5,33.0,A,0.10,40.036944,-121.005833,CA
1,-120,-120,-120,39,38,40,1,133,2453137.5,2004,845.0,1.0,2453137.5,133.0,A,0.25,38.933056,-120.404444,CA
2,-120,-120,-121,39,38,40,2,152,2453156.5,2004,1921.0,5.0,2453156.5,152.0,A,0.10,38.984167,-120.735556,CA
3,-120,-120,-120,39,38,40,3,180,2453184.5,2004,1600.0,1.0,2453189.5,185.0,A,0.10,38.559167,-119.913333,CA
4,-120,-120,-120,39,38,40,4,180,2453184.5,2004,1600.0,1.0,2453189.5,185.0,A,0.10,38.559167,-119.933056,CA

In [9]:
#sort data by discovery date, then latitude, then longitude.
df10=df10.sort_values(['DISCOVERY_DATE', 'latt2', 'longg2'])

In [10]:
#cut out Alaska. Felt that I was concerned about the continental USA and highly populated regions. 
#Getting patterns for USA is more significant!

df10 = df10[df10['LATITUDE']<50]
df10=df10[df10['LONGITUDE']>=-150]

In [11]:
#reset index! very important in these cases
df10=df10.reset_index().drop(columns=['index'])

In [12]:
df20 = df10

In [13]:
df10.head()

,longg5,longg2,longg1,latt1,latt2,latt5,Unnamed: 0,DISCOVERY_DOY,DISCOVERY_DATE,FIRE_YEAR,DISCOVERY_TIME,STAT_CAUSE_CODE,CONT_DATE,CONT_DOY,FIRE_SIZE_CLASS,FIRE_SIZE,LATITUDE,LONGITUDE,STATE
0,-80,-82,-82,27,26,25,961590,1,2448622.5,1992,NaN,6.0,NaN,NaN,B,3.0,26.60000,-81.85000,FL
1,-80,-80,-81,26,26,25,245383,1,2448622.5,1992,1234.0,9.0,2448622.5,1.0,C,20.0,25.88276,-80.95932,FL
2,-80,-80,-80,26,26,25,961583,1,2448622.5,1992,NaN,6.0,NaN,NaN,C,10.0,25.95000,-80.45000,FL
3,-80,-82,-81,27,28,25,960948,1,2448622.5,1992,NaN,7.0,NaN,NaN,B,1.0,27.41000,-81.43000,FL
4,-80,-82,-82,28,28,30,961585,1,2448622.5,1992,NaN,6.0,NaN,NaN,B,6.0,28.46000,-81.58000,FL

In [14]:
##data is ordered by date, latitude and longitude. through if statements filtering the data into individual collumns.

#different series that will become dataframes
series2dates=[]
f_lat = []
f_lon = []
series6sz_cl = []
series7_state = []
series8_cause = []
series9_firesize=[]
gf_latty = []
gf_longy = []


for i,y in enumerate(df10['latt2']):
    if i%25000 == 0:
        print(i)
        #print at 25000 because I do not want to use up too much memory by constantly printing i, but I do want to keep track
        #because sometimes something breaks and it is hard to tell/ it is hard to tell how long it will take time wise
    if i == 0:      
        #i==0 is different than the rest of the data, and everything is based the data that is ==0.
        #creating lists of size class, state, longitude, latitude, cause, fire size
        #plugging in the rounded latitudes and longitudes and the date, for these there should not be multiple 
        sz_cl = []
        sz_cl=str(df10['FIRE_SIZE_CLASS'][i])
        
        state_data = []
        state_data=str(df10['STATE'][i])
        
        df_longy = []
        df_longy=str(df10['LONGITUDE'][i])
        
        df_latty = []
        df_latty=str(df10['LATITUDE'][i])

        df_cause = []
        df_cause = str(df10['STAT_CAUSE_CODE'][i])
        
        df_fire = []
        df_fire = str(df10['FIRE_SIZE'][i])
        

        f_lat.append(df10['latt2'][i])        
        f_lon.append(df10['longg2'][i])
        series2dates.append(df10['DISCOVERY_DATE'][i])
               
        
    elif df10['DISCOVERY_DATE'][i] == df10['DISCOVERY_DATE'][(i-1)]:
        if df10['latt2'][i] == df10['latt2'][i-1]:
            if df10['longg2'][i] == df10['longg2'][i-1]:
                ##these ifs mean that that if the date, latitude and longitude from one row match the row prior, this means
                #that there was no change, so either it was to do nothing or to add it to a string (depending on the data)
                sz_cl=str(df10['FIRE_SIZE_CLASS'][i])+','+str(sz_cl)

                df_latty=str(df10['LATITUDE'][i])+','+str(df_latty)
                df_longy = str(df10['LONGITUDE'][i])+','+str(df_longy)
                
                state_data=str(df10['STATE'][i])+','+str(state_data)

                df_cause=str(df10['STAT_CAUSE_CODE'][i])+','+str(df_cause)

                df_fire = str(df_fire)+','+str(df10['FIRE_SIZE'][i])
                
                #adding to lists, rounded latitude/longitude and date are left out on purpose. only one needed.
                #everything else is included. this includes fire size class, latitude, longitude, state, cause, and fire size
                #using strings because append was turning every new point added to a new column, when I wanted it 
                #to be within a string
                

            else:
                ##all elses are the same, essentially there is some sort of change which means that it is completely different
                #so all the data needs to be compltelly updated. this is where we append these data to the original dataframe
                #these are all in the order i want. 
                
                #i also am trying to refresh the data, with the Xyz = [] and then Xyz=str(df10['Variable'][i]) it is doing that
                #all elses are the same, so no need to repeat
                series2dates.append(df10['DISCOVERY_DATE'][i])

                f_lat.append(df10['latt2'][i])
                f_lon.append(df10['longg2'][i])

                gf_latty.append(df_latty)
                df_latty = []
                df_latty=str(df10['LATITUDE'][i])
        
                gf_longy.append(df_longy)
                df_longy = []
                df_longy=str(df10['LONGITUDE'][i])
        
        
                series7_state.append(state_data)
                state_data = []
                state_data=str(df10['STATE'][i])

                series8_cause.append(df_cause)
                df_cause = []
                df_cause=str(df10['STAT_CAUSE_CODE'][i])+','+str(df_cause)

                series6sz_cl.append(sz_cl)
                sz_cl = []
                sz_cl=str(df10['FIRE_SIZE_CLASS'][i])

                series9_firesize.append(df_fire)
                df_fire = []
                df_fire=str(df10['FIRE_SIZE'][i])


#all elses are the same, so no need to repeat. listed above.
        
        else:
            
            series2dates.append(df10['DISCOVERY_DATE'][i])
            
            f_lat.append(df10['latt2'][i])
            f_lon.append(df10['longg2'][i])

            gf_latty.append(df_latty)
            df_latty = []
            df_latty=str(df10['LATITUDE'][i])

            gf_longy.append(df_longy)
            df_longy = []
            df_longy=str(df10['LONGITUDE'][i])

        

                                  
            series7_state.append(state_data)
            state_data = []
            state_data=str(df10['STATE'][i])
            
            series8_cause.append(df_cause)
            df_cause = []
            df_cause=str(df10['STAT_CAUSE_CODE'][i])+','+str(df_cause)

            series6sz_cl.append(sz_cl)
            sz_cl = []
            sz_cl=str(df10['FIRE_SIZE_CLASS'][i])
            
            series9_firesize.append(df_fire)
            df_fire = []
            df_fire=str(df10['FIRE_SIZE'][i])
            
            
#all elses are the same, so no need to repeat. listed above.
            
    else:
                
        series2dates.append(df10['DISCOVERY_DATE'][i])
        
        
        f_lon.append(df10['longg2'][i])
        f_lat.append(df10['latt2'][i])
        
        gf_latty.append(df_latty)
        df_latty = []
        df_latty=str(df10['LATITUDE'][i])

        gf_longy.append(df_longy)
        df_longy = []
        df_longy=str(df10['LONGITUDE'][i])

        
            
        
        series8_cause.append(df_cause)
        df_cause = []
        df_cause=str(df10['STAT_CAUSE_CODE'][i])+','+str(df_cause)
        
        
        series6sz_cl.append(sz_cl)
        sz_cl = []
        sz_cl=str(df10['FIRE_SIZE_CLASS'][i])
            
        series7_state.append(state_data)
        state_data = []
        state_data=str(df10['STATE'][i])

        
        series9_firesize.append(df_fire)
        df_fire = []
        df_fire=str(df10['FIRE_SIZE'][i])

0
25000
50000
75000
100000
125000
150000
175000
200000
225000
250000
275000
300000
325000
350000
375000
400000
425000
450000
475000
500000
525000
550000
575000
600000
625000
650000
675000
700000
725000
750000
775000
800000
825000
850000
875000
900000
925000
950000
975000
1000000
1025000
1050000
1075000
1100000
1125000
1150000
1175000
1200000
1225000
1250000
1275000
1300000
1325000
1350000
1375000
1400000
1425000
1450000
1475000
1500000
1525000
1550000
1575000
1600000
1625000
1650000
1675000
1700000
1725000
1750000
1775000
1800000
1825000
1850000

In [15]:
#turn all the different datapoints as dataframes. 
dates = pd.DataFrame(series2dates).rename(columns={0: 'dates'})
latit = pd.DataFrame(f_lat).rename(columns={0: 'latit'})
longit = pd.DataFrame(f_lon).rename(columns={0: 'longit'})
latty2 = pd.DataFrame(gf_latty).rename(columns={0: 'latitude'})
longy2 = pd.DataFrame(gf_longy).rename(columns={0: 'longitude'})
sz_class = pd.DataFrame(series6sz_cl).rename(columns={0: 'sz_class'})
state = pd.DataFrame(series7_state).rename(columns={0: 'state'})
cause = pd.DataFrame(series8_cause).rename(columns={0: 'cause'})
firesize = pd.DataFrame(series9_firesize).rename(columns={0: 'firesize'})
latty2 = pd.DataFrame(gf_latty).rename(columns={0: 'latitude'})
longy2 = pd.DataFrame(gf_longy).rename(columns={0: 'longitude'})

In [16]:
#turn all dataframes into one big dataframe. can see by the shape that it changed majorly
df1000 =  pd.concat([dates, latit], axis=1)
df1000 =  pd.concat([df1000, longit], axis=1)
df1000 =  pd.concat([df1000, longy2], axis=1)
df1000 =  pd.concat([df1000, latty2], axis=1)
print('stop')
df1000 =  pd.concat([df1000, state], axis=1)
df1000 =  pd.concat([df1000, sz_class], axis=1)
df1000 =  pd.concat([df1000, cause], axis=1)
df1000 =  pd.concat([df1000, firesize], axis=1)

stop

In [17]:
#save to csv. changing over to a new book because of memory issues
df1000.to_csv('GoodDataFrame.csv')